*{
    margin:0;padding: 0;
}
.ziliaoBox{
    width:100%;height:550px;background-color:#fff;border-top: 1px solid #38c4ff;
}
.ziliao01{
    width:1160px;height:550px;margin:0 auto;background-color: #fff;
}
.ziliaoTop{
    width:100%;height:46px;line-height: 46px;color:#000;font-size: 12px;margin:0;
}
.ziliaoTop>span{
    color:#38c4ff;
}
.mainBox{
    width:100%;height:504px;background-color: #f9f9f9;border:1px solid #c1c1c1;font-size: 16px;
}
.ziliaoMain{
    width:510px;background-color: #f9f9f9;margin:0 auto;
}
.picUp{
    width:100%;height:124px;margin-top:40px;color:#000;position: relative;
}
.picUp>span:nth-child(1){
    font-size: 16px;position: absolute;left:25px;top:20px;
}
.picUp>div{
    width:480px;height:94px;position: absolute;left:95px;top:10px;
}
.picUp>span:nth-child(3){
    font-size: 12px;position: absolute;left:580px;top:80px;
}
.picUp+p{
    width:100%;padding-left:10px;
}
.picUp+p>input{
    width:390px;height:36px;line-height: 36px;border:1px solid #c1c1c1;border-radius: 3px;margin-left:5px;padding-left:10px;
}
.xinxi01{
    height:38px;line-height:38px;margin-top:15px;font-size:16px;padding-left:10px;
}
.xinxi01>select{
    width:90px;height:36px;margin-left:5px;padding-left:10px;border:1px solid #c1c1c1;border-radius:3px;
}
.xinxi01+p{
    width:100%;padding-left:14px;margin-top:15px;
}
.xinxi01+p>input{
    width:390px;height:36px;line-height: 36px;border:1px solid #c1c1c1;border-radius: 3px;margin-left:5px;padding-left:10px;
}
.city011{
    margin-top:15px;
}
.city011>select{
    width:90px;height:36px;margin-left:5px;padding-left:10px;border:1px solid #c1c1c1;border-radius:3px;
}
.city011+p>a{
    display: block;width:140px;height:36px;line-height:36px;margin:0 auto;background-color: #38c4ff;border-radius:20px;color:#fff;
    text-align: center;font-size: 16px;
}
